html, body {
  padding: 0;
  margin: 0;
  background-color: #000;
  background-image: url("./images/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o_orig.jpg");
  background-position: center;
  background-size: cover;
}

canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}